html, body { height: 100px; font-family: Georgia, serif; }

p, ul, ol, dl { margin: 18px 0px; }

ul ul {
    margin: 0px;
}

.wrapper { padding: 20px; text-align: center; -webkit-transition: all 1s linear; }

.npbox {
    background: #333;
    width: 300px;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 0 20px black;
    color: #eee;
    -webkit-transition: all .2s ease-in-out;
}
.npbox,
.npbox a {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}
.npbox a,
.npbox a:hover {
    color: #fff;
}

.npbox div:first-child {
    margin-bottom: 20px;
}

.np-track {
    font-size: 20px;
}

.np-artists:before {
    content: 'By';
    color: #aaa;
    text-shadow: none;
}

.coverbox { display: inline-block; position: relative; overflow: hidden; height: 300px; }
.coverbox img {}
.coverbox a { display: block; }
.coverbox p { 
    text-align: left;
    padding: 8px;
    width: 284px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    margin-bottom: -10px;
}
/* .coverbox:hover p { opacity: 1; margin-bottom: 0px }*/

.np-info {
    text-align: left;
    box-shadow: 1px 1px 20px black; 
    margin-top: 40px;
    padding: 20px;
}

.clear {
    clear: both;
}

/* Wikipedia styles */
.infobox {
    float: right; 
}
.np-info .editsection {
    display: none;
}


/**
 * Throbber, Eve Theme / Light Theme */
@-webkit-keyframes throbber {
	0%     { background-position-x: 0; }
	8.33%  { background-position-x: -30px; }
	16.66% { background-position-x: -60px; }
	25%    { background-position-x: -90px; }
	33.33% { background-position-x: -120px; }
	41.66% { background-position-x: -150px; }
	50%    { background-position-x: -180px; }
	58.33% { background-position-x: -210px; }
	66.66% { background-position-x: -240px; }
	75%    { background-position-x: -270px; }
	83.33% { background-position-x: -300px; }
	91.66% { background-position-x: -330px; }
}
.throbber {
    position: relative;
    top: 0;
    left: 50%;
}
.throbber div, .throbber span {
    position: absolute;
    top: 50%;
}
.throbber {
    -webkit-border-radius: 4px;
    background: none;
    height: 76px;
    margin: 0 0 0 -38px;
    width: 76px;
}
.throbber div, .throbber span {
    -webkit-animation: throbber .8s infinite;
    -webkit-animation-timing-function: step-start;
    background: url('sp://import/img/throbber-black.png') 0 0 no-repeat;
    /**
     * Disabled
     background: url('/img/loading_indicator.png') 0 0 no-repeat;
     */
    height: 30px;
    margin: -15px 0 0 -15px;
    width: 30px;
}